/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Montserrat", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

img {
    max-width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
}

/* NAVIGATION MENU STYLE & HEADER START */

header {
    background: transparent;
    width: 100%;
}

header .logo img {
    margin: 10px;
    min-width: 120px;
    max-height: 120px;

}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    background: rgba(0, 0, 0, 0.85);
    transition: 0.5s ease-out;
    z-index: 5;
}

body.scroll header.sticky .logo img {
    max-width: 25px;
    max-height: 75px;
    margin: 0;
    src: url(../images/tlo-prl-2.jpg);
}

body.scroll header.sticky {
    transform: translateY(0);
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav-wrapper {
    max-width: 1200px;

    margin: auto;
    position: relative;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.nav-wrapper ul li {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 0;
}

nav.nav-wrapper ul li a {
    font-size: 17px;
    line-height: 22px;
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: 0.3s;

}

nav.nav-wrapper ul li a:hover {
    border-bottom: 1px solid white;

}

/* PARALLAX PAGE */

.cover-main {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../images/tlo-prl-2.jpg') right bottom;

    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;


}

ul#scene {
    margin: 100px auto 30px auto;
    width: 70%;


}


ul#scene li.name {
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    color: white;


    max-width: 100%;
    position: relative !important;

}

ul#scene li.title {
    text-align: center;
    font-size: 40px;
    color: white;

    line-height: 45px;
    width: 100%;
    margin-top: 110px;
}

ul#scene li.btn {
    margin-top: 190px;
    width: 100%;
    text-align: center;
}

.portfolio-btn,
.contact-btn {
    margin: 0 auto;
    text-align: center;
    margin: auto auto;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background: transparent;
    display: inline-block;
    transition: 0.5s;

}

.portfolio-btn {
    margin-left: 30px;
}

.contact-btn {
    margin-top: 10px;
    margin-left: 30px;
}

.portfolio-btn:hover,
.contact-btn:hover {
    background: white;
    color: black;
}

.menu-day {
    right: 5px;
    bottom: 25%;
    position: absolute;

    font-family: 'Homemade Apple', cursive;
    background: url(../images/tablica-menu.jpg);
    background-size: cover;
    background-repeat: round;
    border: 5px solid rgba(10, 10, 10, 0.109);
    border-radius: 35px;
}

.overlay {
    width: 100%;
    display: none;
    bottom: 0;
    height: 20%;
    transition: 2s;

}

.overlay i {
    color: wheat;
    font-size: 1.5rem;
    text-align: center;
}

.menu-day:hover .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 35px 35px;
    text-align: center;
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-day h2 {
    text-align: center;
    color: #E19396;
    margin-top: 10px;
}



.menu-day ul li:before {
    content: '\2713';
    margin: 0 1em;
}

.menu-day ul {
    list-style: none;
    padding: 25px;
    width: 100%;
    color: #9ED7D6;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 30px;
}

.menu-day li.desert {
    color: #FFFFBF;
}

.menu-day li.soup {
    color: #E19396;
}

.menu-day li.desert:after {
    content: '14,99 zł';
    font-size: 1.3rem;
    color: whitesmoke;
    margin: 0 1em;
}


/* PARALLAX PAGE END */

/* MASONRY GRID  */

.masonry-grid {
    position: relative;

}

.grid {
    margin: 0 auto;
    align-items: center;
}

.grid-item {
    width: 350px;
}

.grid-item img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.grid-item:hover img {
    -webkit-transform: scale(0.95);
    transform: scale(.95);
    transition: 0.3s ease-out;
}

.tall-img {
    height: 640px;
}



h2.sub-title {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: 30px auto 40px auto;
}

h2.sub-title::after {
    display: block;
    height: 2px;
    content: "";
    width: 100px;
    background-color: black;
    margin: 20px auto 30px auto;
}

/* MASONRY GRID  END */

section.beating-heart {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/tlo_about.png) bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 10px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 50px;

}

section.beating-heart p {
    margin-bottom: 50px;
}

section.beating-heart h2::after {
    background: white;
}

section.beating-heart span {
    font-size: 100px;

}

.heart {
    position: relative;
    width: 120px;
    margin: 0 50px;
    fill: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {

    0% {
        transform: scale(1)
    }

    15% {
        transform: scale(1.25)
    }

    25% {
        transform: scale(1.15)
    }

    35% {
        transform: scale(1.25)
    }

    100% {
        transform: scale(1)
    }
}

/* About page END */

/*Slider page start */

.glider-contain h2 {
    margin-bottom: 0;
}

.glider {
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 20px;
    color: white;
}

.glide {
    padding: 15px;
}

.glider-prev {
    left: 0;
    height: 50%;
}

.glider-next {
    right: 0;
    height: 50%;
    transition: 0.3s;
}

.glider-next:hover,
.glider-prev:hover {

    color: black;
}

/* FOOTER PAGE START */

footer {
    margin-top: 20px;

}

.foot-wrapper {
    margin: auto;
    position: relative;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    background: black;
    color: white;
}

.foot-copyright {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 17px 0 5px 0;
}

.foot-wrapper ul li {
    display: inline-block;
    padding: 20px;

}

.foot-wrapper ul li i {
    font-size: 1.5rem;
    color: white;
}

.foot-wrapper ul li i:hover {
    color: rgba(253, 251, 251, 0.527);
}

.foot-row {
    margin: auto;
    position: relative;
    padding: 7px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
}

.foot-column {
    float: left;
    text-align: center;
    width: 25%;
}

.foot-column p a {
    text-decoration: none;
    color: white;
}

.foot-column p a:hover {
    color: rgba(253, 251, 251, 0.527);
}

.foot-title {
    position: relative;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
    align-content: center;
}

.foot-title::after {
    display: block;
    height: 1px;
    content: "";
    width: 35px;
    background-color: white;
    margin: 2px auto;
}

/* REsponsive navigation menu */

@media only screen and (max-width: 960px) {

    .menu-trigger {
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
        position: absolute;
        display: block;
        z-index: 10;
        cursor: pointer;
        background: url(../images/hamburger-icon.svg) no-repeat center / cover;
    }

    .main-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        z-index: 5;

    }

    .main-overlay::after {
        background: url(../images/close-icon.svg) no-repeat center / cover;
        width: 35px;
        height: 35px;
        display: block;
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 20;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: #131313;
        width: 100%;
        max-width: 300px;
        z-index: 30;
        transform: translate3d(-100%, 0, 0);
    }

    nav.nav-wrapper ul li {
        display: block;
        margin-top: 20px;
        padding: 0;
        padding-bottom: 20px;

    }

    nav.nav-wrapper ul li a {
        font-size: 18px;
        line-height: 23px;
    }

    nav.nav-wrapper ul li a:hover {
        border-color: transparent;
    }

    body.menu-active .menu {
        transform: translate3d(0, 0, 0);
        display: block;
        padding: 0 15px;
    }

    body.menu-active .main-overlay {
        display: block;
    }

    body.menu-active .menu-trigger {
        display: none;
    }

}

@media only screen and (max-height: 450px) {
    .cover-main {

        height: 150vh;

    }
}

@media only screen and (max-width: 450px) {
    ul#scene li.name {
        margin-bottom: 550px;
    }

    ul#scene li.title {
        margin-top: 155px;
    }

    ul#scene li.btn-main {
        margin-top: 250px;
    }
}